<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="Proyecto"
    connectionString="Data Source= HP_FERNANDO\SQLEXPRESS; Integrated Security=true;Initial Catalog= db_pruebas; uid=sa; Password=sa; " providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>